<header class="header">
  <nav role="navigation" aria-label="main">
    <ul class="header-nav container">
      <li class="header-logo">
        <a href="http://blog.ddlisting.com/">
          <img src="http://blog.ddlisting.com/content/images/2016/09/ember-logo1.png">
          <span class="visually-hidden">Ember Teach</span>
        </a>
      </li>
      <li class="active" aria-label="You are here">
        <a href="/">v2.7.0</a>
      </li>
      <li>
        <a href="http://list.ddlisting.com/">天天清单</a>
      </li>
      <li>
        <a href="http://www.ddlisting.com">天天社区</a>
      </li>

      <li class="header-search">
        <form>
          <input type="text" id="search-input" class="search-input" placeholder="文档搜索……"/>
        </form>
      </li>
    </ul>
  </nav>
</header>
